<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}HA{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset("bundles/frutosmain/css/Infocentre.css") }}" rel="stylesheet" type="text/css"/>
            <!-- Custom styles for this template -->
        <link href="{{ asset("bundles/frutosmain/css/signin.css")}}" rel="stylesheet" />
        <link href="{{ asset("css/bootstrap.css")}}" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="{{ asset('ico-1.ico') }}" />
        {% block link %}{% endblock %}
    </head>
    <body>
      <img src="{{ asset("bundles/frutosmain/images/logo-1.png") }}" alt="Example" />
      <header>
        {% block header %}
        {% endblock header %}    
      </header>
      <nav>
        {% block Nav %}
        {% endblock %}
      </nav>
      <div id="Content">
        {% block body %}
        {% endblock %}
      </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
